#clock {
    position: absolute;
    top: 5vw;
    right: 5vw;
    display: inline-block;

    font-family: var(--font);
    color: white;
    font-size: 8rem;

    margin: 0.5rem;

    &[type="num"] {
        padding: 0rem 1.5rem;

        > .num {
            &:nth-child(n + 3) {
                font-size: 4rem;
            }

            + .num::before {
                content: ":";
            }
        }
    }

    &[type="arr"] {
        width: 24rem;
        height: 24rem;
        border-radius: 12rem;

        --num-deg: 30deg;

        &.h24 {
            --num-deg: 15deg;
        }

        > .arrow {
            --deg: 6deg;
            --width: 0.5rem;

            background-color: white;
            position: absolute;
            width: var(--width);
            height: calc(11rem + var(--width) / 2);
            top: 1rem;
            left: 50%;
            transform-origin: center 11rem;
            transform: translateX(-50%) rotate(calc(var(--a) * var(--deg)));

            border-radius: var(--width);

            transition: 0.3s cubic-bezier(0.75, 0, 0.25, 1.5);
        }

        > #arrowH {
            --deg: var(--num-deg);
        }

        > #arrowM {
            --width: 0.25rem;
        }

        > #arrowS {
            --width: 0.125rem;
        }

        > .num {
            transform: rotate(calc(var(--i) * var(--num-deg)));
            > * {
                transform: rotate(calc(var(--i) * var(--num-deg) * -1));
                font-size: calc(1.5rem - var(--j) * 0.25rem);
            }

            position: absolute;
            width: inherit;
            height: inherit;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            font-size: 1.5rem;

            > * {
                text-align: center;
            }
        }
    }

    // @media (orientation: portrait) {
    @media screen and (max-width: 75rem) {
        position: static;
    }
}
