:root {
    --txtShad: 0px 0px 5px;
    --font: monospace;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    transition: 0.4s;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
    transition: 0.4s;
}
::-webkit-scrollbar-thumb {
    background: #0000;
}
::-webkit-scrollbar-thumb:hover {
    background: #444444;
}
::-webkit-scrollbar-thumb:active {
    background: #ffffff;
}
::-webkit-scrollbar-track {
    background: #0000;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

body {
    background: #080808;

    width: 100vw;
    height: 100vh;

    transition: background-color 0.3s;

    overflow: hidden;
    margin: 0;
}

#href {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;

    /* background-color: #0006; */
    border-radius: 1rem;

    margin: 8px;
    height: 60vh;
    width: 70vw;
}

.sub {
    counter-reset: a;
    overflow-x: hidden;
    overflow-y: overlay;

    transition: max-height 0.3s ease-out;
    max-height: 0px;
    background-color: black;

    position: absolute;
    transform: translate(300px, -32px);

    z-index: 2;
}

.a:hover > .sub,
.sub:hover,
a[h] > .sub {
    transition: max-height 0.4s ease-in;
    max-height: 500px;
    background-color: black;
    animation: 0.4s over 0s 1 forwards;
}

@keyframes over {
    100% {
        overflow: visible;
    }
}

@counter-style circled-alpha {
    system: numeric;
    symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9" A B C D E F G H I J K L M N
        O P Q R S T U V W X Y Z;
}

.a {
    counter-increment: a;

    color: white;
    font-family: var(--font);
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    /* transition: 0.4s; */

    overflow: hidden;
    position: relative;
    display: block;
    width: 300px;
    height: 32px;
}

.a:hover,
.a[h] {
    background-color: black;
    overflow: visible;
}

.a_name::before {
    content: counters(a, ".", circled-alpha);
    margin: 0px 8px;
}

.c::after {
    content: ">";
    position: absolute;
    right: 8px;
    transition: 0.3s;
    transform-origin: 50% 55% 0;
    /* background-color: red; */
}

.c:hover::after,
.c[h]::after {
    transform: rotate(90deg);
}

.a > .a_icon {
    /* display: none; */
    width: 28px;
    height: 28px;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
    margin-left: 2px;
}

u {
    animation: col 5s infinite;
    /* text-decoration-color: white; */
}

@keyframes col {
    0% {
        text-shadow: var(--txtShad) hsl(0deg, 86%, 67%);
        color: hsl(0deg, 86%, 67%);
    }
    10% {
        text-shadow: var(--txtShad) hsl(36deg, 86%, 67%);
        color: hsl(36deg, 86%, 67%);
    }
    20% {
        text-shadow: var(--txtShad) hsl(72deg, 86%, 67%);
        color: hsl(72deg, 86%, 67%);
    }
    30% {
        text-shadow: var(--txtShad) hsl(108deg, 86%, 67%);
        color: hsl(108deg, 86%, 67%);
    }
    40% {
        text-shadow: var(--txtShad) hsl(144deg, 86%, 67%);
        color: hsl(144deg, 86%, 67%);
    }
    50% {
        text-shadow: var(--txtShad) hsl(180deg, 86%, 67%);
        color: hsl(180deg, 86%, 67%);
    }
    60% {
        text-shadow: var(--txtShad) hsl(216deg, 86%, 67%);
        color: hsl(216deg, 86%, 67%);
    }
    70% {
        text-shadow: var(--txtShad) hsl(252deg, 86%, 67%);
        color: hsl(252deg, 86%, 67%);
    }
    80% {
        text-shadow: var(--txtShad) hsl(288deg, 86%, 67%);
        color: hsl(288deg, 86%, 67%);
    }
    90% {
        text-shadow: var(--txtShad) hsl(324deg, 86%, 67%);
        color: hsl(324deg, 86%, 67%);
    }
    100% {
        text-shadow: var(--txtShad) hsl(360deg, 86%, 67%);
        color: hsl(360deg, 86%, 67%);
    }
}

#clock {
    position: absolute;
    top: 100px;
    right: 100px;

    font-family: var(--font);
    color: white;
    font-size: 100px;
}

#clock > :nth-child(n + 4) {
    font-size: 50px;
}

aside {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 45vw;
    transform: translateX(100%);
    padding: 8px;
    box-sizing: border-box;

    transition: transform 0.4s;

    background-color: #080808;

    overflow: auto;

    color: white;
    font-family: monospace;

    display: flex;
    flex-direction: column;

    --inp: #aaa;
    --inp-h: #ccc;
    --inp-f: #ddd;
    --inp-s: #fff;
    --btn: #363636;
    --btn-h: #545454;
    --btn-a: #727272;
}

aside > div {
    margin: 0.5rem 0 0.5rem 0.5rem;
    overflow-y: scroll;
}

#settingsButtonOpen {
    display: block;
    position: absolute;
    right: 8px;
    bottom: 8px;

    width: 24px;
    height: 24px;

    color: white;
    font-weight: bolder;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}

#settingsCheck:checked ~ aside {
    transform: unset;
}

#tabs {
    height: calc(60% - 1rem);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: baseline;
    gap: 1rem;
}

#settings {
    height: calc(40% - 4rem);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem;
}

#settings > div {
    padding: 0.5rem;
    background: #121212;
    border-radius: 0.25rem;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#settings > div > h1 {
    margin-top: 0;
}

.tab {
    /* min-height: 4rem; */

    padding: 0.25rem;
    box-sizing: border-box;
    flex-grow: 1;

    /* border: 1px solid white; */
    border-radius: 0.25rem;
    background-color: #121212;
}

.tab + .tab::before {
    /* content: ""; */
    background: white;
    height: 0.0625rem;
    width: 80%;
    display: block;

    margin-left: 10%;
}

aside input {
    background-color: #0000;
    border: 0;
    /* border-bottom: solid 0.0625rem white; */

    color: var(--inp);
}

aside input:focus {
    color: var(--inp-f);
}

aside input:hover {
    color: var(--inp-h);
}

.tab_name {
    font-size: 1rem;
    display: block;
}

.tab_key {
    width: 2rem;
    text-align: center;
}

.tab_slice {
    display: inline-flex;
}

.tab_sliceVal {
    width: 2rem;
    -moz-appearance: textfield;
}

.tab_sliceVal::-webkit-outer-spin-button,
.tab_sliceVal::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tab_sliceVal.tab_sliceStart {
    text-align: right;
}

.tab_sub {
    border-left: solid 0.125rem white;
    margin-left: 0.25rem;
}

aside button {
    background-color: var(--btn);
    border: 0;
    border-radius: 0.25rem;

    width: 1.33em;
    height: 1.33em;
    aspect-ratio: 1/1;
    box-sizing: content-box;
    padding: 0;
    display: inline-block;

    color: var(--inp);
    font-size: 1.5rem;
    line-height: 1.33em;
    text-align: center;
    font-weight: bold;

    align-self: flex-end;
}

aside button:hover:active {
    background-color: var(--btn-a);
}

aside button:hover {
    background-color: var(--btn-h);
}

.tab_sub:has(> .newTab:first-child) {
    border: 0;
    margin-left: 0;
    display: inline-block;
}

.removeTab,
.tab_sub > .newTab {
    margin-left: 0.25em;

    font-size: 1rem;
}

.removeTab:hover {
    background-color: #d11a2a;
}

.removeTab {
    float: right;
}

.tab_sub > .newTab:first-child {
    margin-left: 0;
}

aside button > * {
    display: block;
    width: 100%;
}
